/*******************************
************ MOBILE ************
********************************/

/* GENERAL */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #444;
}

/* APP */
.nk-app {
  height: 100%;
  background: #f7f7f7;
  box-sizing: border-box;
}

/* LAYOUT */
.nk-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  flex-flow: row wrap;
}

/* HEADER */
.nk-header {
  background-color: #00bcd4;
  height: 60px;
  color: white;
  text-align: center;
}

.nk-logo {
  max-width: 200px;
  height: auto;
  pointer-events: none;
}

/* SIDEBAR */
.nk-sidebar {
  width: 100%;
  min-height: 40px;
  background: white;
  margin-bottom: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.nk-clickable-list {
  list-style: none;
  padding-left: 16px;
}

.nk-clickable-list > li > button {
  background: none;
  border: 0;
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 2em;
  cursor: pointer;
  outline: 0;
  transition: 0.4s;
}

.nk-clickable-list > li > button.selected,
.nk-clickable-list > li > button:hover {
  color: #f6993f;
}

/* GRID */
.nk-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background: red; */
}

.nk-grid__item {
  flex-grow: 1;
  width: 50%;
  max-width: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.nk-grid__item--full-block {
  width: 100% !important;
  max-width: 100% !important;
}

.nk-card {
  position: relative;
  width: 100%;
  height: 0;
  background-color: white;
  border: 1px solid #efefef;
  padding-bottom: 100%;
  overflow: hidden;
  color: lightgray;
}

.nk-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.nk-button {
  display: block;
  background-color: #f6993f;
  border: none;
  width: 200px;
  margin: 0 auto;
  padding: 12px 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.nk-button:hover {
  background-color: #f28621;
}

.nk-icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.nk-icon--loadmore {
  background: url('../assets/ico-loadmore.png') no-repeat 50% 50%;
  background-size: contain;
}


/*******************************
****** RESPONSIVE: TABLET ******
********************************/

@media (min-width: 768px) {
  /* GRID */
  .nk-grid__item {
    width: 33.33%;
    max-width: 33.33%;
  }
}


/*******************************
****** RESPONSIVE: DESKTOP *****
********************************/

@media (min-width: 960px) {
  /* LAYOUT */
  .nk-layout {
    flex-flow: row nowrap;
    padding: 30px;
  }

  /* SIDEBAR */
  .nk-sidebar {
    width: 25%;
    margin-right: 30px;
    padding: 16px;
  }

  /* GRID */
  .nk-grid {
    width: 75%;
  }

  .nk-grid__item {
    width: 25%;
    max-width: 25%;
  }
}